.button {
    margin-top: 3vw;
    padding: 1vw 0.5vw;

    background-color: $secondary;
    color: $white;

    box-shadow: none;

    font-size: 1.2vw;
    cursor: pointer;

    &:hover {
        background-color: darken($secondary, 10%);
    }
}