.contact__container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0.5vw 0;

    min-height: fit-content;
    align-items: baseline;
    
}

.contact__item {
    padding:  0.5vw 1vw;
    height: fit-content;
    max-width: fit-content;
    border: 0.5px solid gray;
    font-size: 3vw;
    white-space: nowrap;

    &:nth-child(2n) {
        border-left: none;
        border-right: none;
    }
}

.delete__btn {
    padding: 0;
    border: none;
    background-color: transparent;
   
}

.edit__btn {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.icon {

    height: 3vw;
    width: 3vw;
    transition: fill 0.5s;

    &.icon__trashbox {
        fill: #9c0000;

        &:hover {
            fill: darken( #9c0000, 10%);
        }
    }

    &.icon__edit {
        &:hover {
            fill: lighten(black, 10%)
        }
    }
}